body {
	background-color: #f1f1f1;
}

.login-box {
	background-color: #ffffff;
	max-width: 450px;
	margin: auto;
	margin-top: 100px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	font-size: 18px;
	margin-top: 20px;
	display: block;
}

input[type="text"], input[type="email"], input[type="password"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	margin-top: 5px;
	margin-bottom: 20px;
}

select {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	margin-top: 5px;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #008CBA;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #004257;
}

.error-msg {
	margin: 10px 0;
	display: block;
	background: crimson;
	color: #ffffff;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
  }
  
  .error-msg.email {
	display: none;
  }
  
  .error-msg.username {
	display: none;
  }
  
  .show-password-toggle {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	display: inline-block;
	width: 32px;
	height: 32px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
  }
  
  input[type="password"] {
	padding-right: 45px;
  }
  
  .show-password-toggle i {
	font-size: 22px;
	color: #ccc;
  }
  
  .show-password-toggle.active i {
	color: #f90;
  }
  
  .show-password-toggle.active:before {
	content: "\f070";
	font-family: "FontAwesome";
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	color: #f90;
	z-index: 1;
  }
  