{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
  {% include "nav.html" %}
  <div class="container">
    <h1>VinSmoke</h1>
    <h2>About Us</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="text-container">
          <p>This is an Anime Recommendation System that suggests anime based on user preferences and ratings.</p>
          <p>It utilizes various algorithms and techniques to analyze user data and provide personalized recommendations.</p>
          <p>Explore a wide range of anime and discover new ones based on your interests and preferences!</p>
          <p>This is an Anime Recommendation System that suggests anime based on user preferences and ratings.</p>
          <p>It utilizes various algorithms and techniques to analyze user data and provide personalized recommendations.</p>
          <p>Explore a wide range of anime and discover new ones based on your interests and preferences!</p>
          <p>This is an Anime Recommendation System that suggests anime based on user preferences and ratings.</p>
          <p>It utilizes various algorithms and techniques to analyze user data and provide personalized recommendations.</p>
          <p>Explore a wide range of anime and discover new ones based on your interests and preferences!</p>
          <p>This is an Anime Recommendation System that suggests anime based on user preferences and ratings.</p>
          <p>It utilizes various algorithms and techniques to analyze user data and provide personalized recommendations.</p>
          <p>Explore a wide range of anime and discover new ones based on your interests and preferences!</p>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
    {% include "footer.html" %}  
  </footer>
</html>
