{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- include bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="nav">
    <div class="nav-header">
      <div class="nav-title">
        <strong>VinSmoke</strong>
      </div>
    </div>
     
        <span></span>
        <span></span>
        <span></span>
    
    <div class="nav-links">
      <a href="{% url 'aap' %}" >Home</a>
      <a href="{% url 'popularView' %}" >Popular</a>
      <a href="/watchlist/" >WatchList</a>
      <a id="nav" href="{% url 'anime_list' %}" >Genre</a>
          {% comment %} <a id="navicon" href="#"><i class="fa fa-bell"></i></a> {% endcomment %}
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell"></i>
          {% if count %}
          <span class="badge badge-danger">{{ count }}</span>
          {% endif %}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown">
        {% if notifications %}
        <ul class="list-group">
            {% for notification in notifications %}
            <li class="list-group-item">
                <strong>{{ notification.title }}</strong>
                <p>{{ notification.description }}</p>
                <small>{{ notification.timestamp }}</small>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="dropdown-item">You have no notifications.</p>
        {% endif %}
      </div>
      <script>
        jQuery(function () {
            jQuery('[data-toggle="dropdown"]').dropdown({
                container: 'body',
                html: true,
                title: function () {
                    return jQuery('#notificationsDropdown').html();
                }
            }).on('click', function(){
                jQuery.ajax({
                    url: '{% url "notification-seen" %}',
                    method: 'POST',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function(response){
                        console.log(response);
                    },
                    error: function(xhr){
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>

    <form class="search-bar" action="{% url 'aap' %}" method="GET">
      <input type="text" name="query" placeholder="Search...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>          
    </div>

    <div class="dropdown">
      <a href="#" class="profile-icon"><i class="fa fa-user"></i></a>
      <div class="dropdown-content">
        <a href="#">Profile</a>
        <a href="/watchlist/">WatchList</a>
        <a href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </div>   
  </div> 
  