{% load static %}   <!-- loads static files -->

<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> <!-- includes a CSS file -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"> <!-- includes another CSS file -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- includes a font-awesome library -->
	<style type="text/css">
	body {
	  font-family: "Roboto Mono", monospace;
	  text-align: center;
	  background-color: #000000; <!-- sets the background color -->
	  background-size: cover;
	  background-position: center top;
	  background-repeat: no-repeat;
	}
	</style>
</head>

<body>	  

	{% include "nav3.html" %}
    
<div class="login-box">
	<h1>Password Reset Complete</h1>
	<p>Your password has been successfully reset.</p>
	<p><a href="{% url 'login' %}">Login Now</a></p>
</div>