{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  {% include "nav.html" %}
  <div class="profile-container">
    <h1>Profile</h1>

    <div class="user-icon">
      <i class="fa fa-user"></i>
    </div>
    <div class="text-container">
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    </div>
</div>
</body>
<footer>
    {% include "footer.html" %} 
    </footer>
</html>