{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>VinSmoke</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/aap.css' %}">
  {% include "nav.html" %} 
<h2>Completed</h2>
{% for watchlist in watchlist_completed %}
    <div class="anime-item">
        <a href="{{ watchlist.anime.link }}">
            <img src="{{ watchlist.anime.img_url }}">
            <h3>{{ watchlist.anime.title }}</h3>
        </a>
    </div>
{% empty %}
    <p>No anime in this list.</p>
{% endfor %}

<h2>Plan to Watch</h2>
{% for watchlist in watchlist_plan_to_watch %}
    <div class="anime-item">
        <a href="{{ watchlist.anime.link }}">
            <img src="{{ watchlist.anime.img_url }}">
            <h3>{{ watchlist.anime.title }}</h3>
        </a>
    </div>
{% empty %}
    <p>No anime in this list.</p>
{% endfor %}

<h2>Watching</h2>
{% for watchlist in watchlist_watching %}
    <div class="anime-item">
        <a href="{{ watchlist.anime.link }}">
            <img src="{{ watchlist.anime.img_url }}">
            <h3>{{ watchlist.anime.title }}</h3>
        </a>
    </div>
{% empty %}
    <p>No anime in this list.</p>
{% endfor %}

<h2>On Hold</h2>
{% for watchlist in watchlist_on_hold %}
    <div class="anime-item">
        <a href="{{ watchlist.anime.link }}">
            <img src="{{ watchlist.anime.img_url }}">
            <h3>{{ watchlist.anime.title }}</h3>
        </a>
    </div>
{% empty %}
    <p>No anime in this list.</p>
{% endfor %}

<h2>Dropped</h2>
{% for watchlist in watchlist_dropped %}
    <div class="anime-item">
        <a href="{{ watchlist.anime.link }}">
            <img src="{{ watchlist.anime.img_url }}">
            <h3>{{ watchlist.anime.title }}</h3>
        </a>
    </div>
{% empty %}
    <p>No anime in this list.</p>
{% endfor %}

<!-- Repeat for On Hold and Watching lists -->
<footer>
  {% include "footer.html" %} {% comment %} Include the footer template {% endcomment %}
  </footer>